<!DOCTYPE html>
<html>
<head>
    <title>Smart Portal</title>
</head>
<body>
    <h1>Welcome to Smart Portal </h1>
    <p>Application is running successfully.</p>

    <hr>

    <h2>Submit Complaint</h2>

    <form action="/complaint" method="post">
        <input type="text" name="title" placeholder="Complaint Title" required>
        <br><br>

        <textarea name="description" placeholder="Describe your issue" required></textarea>
        <br><br>

        <button type="submit">Submit Complaint</button>
    </form>

</body>
</html>

